	/* Cole Marter
     assignment3.htm
     INFO2439
     Thoendel
     9/28/19
	 */
	 	 h2{
		 margin-left: 20px;
		 margin-right: 20px; 
		 color: purple;
		 font-family: 'Permanent Marker', cursive;
		  }